logs
node_modules
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
.env
venv/
__pycache__/
*.pdf
config/
indexHistory/
chatbot-ui/dist/chatbot-ui/browser/favicon.ico
chatbot-ui/dist/chatbot-ui/3rdpartylicenses.txt
chatbot-ui/dist/chatbot-ui/prerendered-routes.json
/tmp
/out-tsc
/bazel-out

npm-debug.log
yarn-error.log
.angular

