logs
node_modules
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
.env
venv/
__pycache__/
*.pdf
config/
indexHistory/
dist
/tmp
/out-tsc
/bazel-out

npm-debug.log
yarn-error.log
.angular

